@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}


<!-- Top menu -->
<div class="w3-top">
    
</div>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

    <!-- First Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center" id="food">
        <div class="w3-quarter">
            <img src="https://images.unsplash.com/photo-1532768641073-503a250f9754?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" style="width:100%">
            <h3><a href="/Post/Post">The SENDVIČ, Pravi veganski dragulj</a></h3>
            <p>Random tekst</p>
        </div>
        <div class="w3-quarter">
            <img src="https://images.unsplash.com/photo-1432139509613-5c4255815697?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Steak" style="width:100%">
            <h3><a href="/Post/Post">Ovo moraš probati</a></h3>
            <p>Opet, neki random tekst</p>
        </div>
        <div class="w3-quarter">
            <img src="https://images.unsplash.com/photo-1553452118-621e1f860f43?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Chocolate" style="width:100%">
            <h3><a href="/Post/Post">Najbolja stvar na svijetu</a></h3>
            <p>Random tekst.</p>
            <p>Uvijeri me u suprtno!</p>
        </div>
        <div class="w3-quarter">
            <img src="https://images.unsplash.com/photo-1481931098730-318b6f776db0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Pasta and Wine" style="width:100%">
            <h3><a href="/Post/Post">Wine and Vegetable Pasta</a></h3>
            <p>Random tekst.</p>
        </div>
    </div>

    <!-- Second Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-quarter">
            <img src="https://images.unsplash.com/photo-1497034825429-c343d7c6a68f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Popsicle" style="width:100%">
            <h3><a href="/Post/Post">All I Need Is a Popsicle</a></h3>
            <p>I loooooooooooooooooove, looooooooooooooooooooooooove icecream.</p>
        </div>
        <div class="w3-quarter">
            <img src="https://images.unsplash.com/photo-1546548970-71785318a17b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Citrus" style="width:100%">
            <h3><a href="/Post/Post">Voće za kožu</a></h3>
            <p>Citrus, pogotovo crveni je pun antioksidansa.</p>
        </div>
        <div class="w3-quarter">
            <img src="https://images.unsplash.com/photo-1495147466023-ac5c588e2e94?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Pastries" style="width:100%">
            <h3><a href="/Post/Post">Križić-Kružić</h3>
            <p>Loša navika - uvijek se igram sa hranom!</a></p>
        </div>
        <div class="w3-quarter">
            <img src="https://images.unsplash.com/photo-1478145046317-39f10e56b5e9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Plater" style="width:100%">
            <h3><a href="/Post/Post"><i>"Le French"</i> plata</a></h3>
            <p>Kako posložiti platu sa različitom hranom.</p>
            <p>Pogledaj ovdje.</p>
        </div>
    </div>

    <hr id="about">

    <!-- About Section -->
    <div class="w3-container w3-padding-32 w3-center">
        <h3>O meni , The Food Woman</h3><br>
        <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Me" class="w3-image" style="display:block;margin:auto" width="800" height="533">
        <div class="w3-padding-32">
            <h4><b>Ja sam ja!</b></h4>
            <h6><i>Stravstvena prema hrani, brzoj, finoj i ukusnoj.</i></h6>
            <p>Samo ja, ja i ja, istražujem svemir nepoznatog. Imam srce ljubavi i spremna sam to podijeliti s vama.</p>
        </div>
    </div>
    <hr>

    <!-- End page content -->
</div>


<style>
    body, h1, h2, h3, h4, h5, h6 {
        font-family: "Karma", sans-serif
    }

    .w3-bar-block .w3-bar-item {
        padding: 20px
    }
</style>


